SUPABASE_URL=https://biyyukscbbqhdhhnykqh.supabase.co
SUPABASE_KEY=sb_publishable_OwvsEB8R1ms1cfcALl0Ieg_dFAtNFHR
SUPABASE_DB_URL=postgresql://postgres:TempPass12345Chatfixnu@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?sslmode=require&uselibpqcompat=true

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_DB_URL=
